<div class="search">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= hidden_field_tag(:type, "Food") %>
  <%= submit_tag "Search" %>
  <% end %>
</div>

<% if !current_user.nil?  %>
<div class= "form-group">  <%= link_to "Create New Post", new_post_path, class: 'btn btn-default' %></div>
<% end %>
<br><br>
<h1>Food</h1>
<br>
<%= render 'shared/categorySelect', post: @post %>
