<div>  <%= link_to "Create New Post", new_post_path, class: 'btn' %></div>
<h1>Online News</h1>
<%= will_paginate @post%>

<% @post.each do |posts| %>
<div class="grid-container">
  <div class="picture">
    <%= image_tag posts.picture.url, width: 300, height: 200 if posts.picture? %>
  </div>
  <div class="title">
    <%= posts.title %>
  </div>
  <div class="posted_b">
    <p> by <%= posts.User.email %></p>
  </div>
  <div class="time">
    <span class= "timestamp"><p>Posted <%= time_ago_in_words(posts.created_at) %> ago.</p></span>
  </div>
  <div class="edit_btn">
    <%= link_to "edit", "#" ,class: "btn btn-lg btn-primary" %>
    <% if current_user==posts.User %>
      <%= link_to "delete", posts, method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
<hr>
<% end %>


<%= will_paginate @post%>
