<%= will_paginate @post%>

<% if @post.empty? %>
  <h2 style="color: #808080">No posts to show for the current category</h2>
<% else %>
<% @post.each do |posts| %>
<div class="grid-container">
  <div class="picture form-group">
    <%= image_tag posts.picture.url, width: 300, height: 200 if posts.picture? %>
  </div>
  <div class="title form-group">
    <%= posts.title %>
  </div>
  <div class="posted_b form-group">
    <p> by <%= posts.User.name %></p>
  </div>
  <div class="time form-group">
    <span class= "timestamp"><p>Posted <%= time_ago_in_words(posts.created_at) %> ago.</p></span>
  </div>
  <div class="edit_btn form-group">
    <%= link_to "Edit", posts ,class: "btn btn-default" %>
    <% if current_user==posts.User %>
      <%= link_to "Delete", posts, method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-default" %>
    <% end %>
    <%= link_to "Read Detail", posts, class: "btn btn-default" %>
  </div>
</div>
<hr>
<% end %>
<% end %>
<%= will_paginate @post%>
