<%= will_paginate @post%>


<% if @post.empty? %>
  <h2 style="color: #808080">No posts to show for the current category</h2>
<% else %>
<% @post.each do |posts| %>
<%= hidden_field_tag :id, posts.id %>
<%#= link_to posts do %>
<div class="grid-container" id="grid-container">
  <%#= link_to posts, {:style => 'color: #FFFFFF'}  do %>
  <div class="picture" style="position: relative;">
    <% if posts.picture? %>
      <%= image_tag posts.picture.url, width: 300, height: 150 %>
    <% else %>
      <%= image_tag "news.jpg", width: 300, height: 150 %>
    <% end %>
    <%# end %>
    <p class= "delete_btn text_above_pic" style="position: absolute; top: 0em; width: 100px; font-weight: bold; font-size: 12px;">
      <%= posts.category %>
    </p>
  </div>

  <div class='title form-group post_title'>
    <p style="font-size: 1.3em;">"<%= posts.title %>"</p>
  </div>

  <div class="posted_b">
    <p style="color: #777"> by <%= posts.User.name %>  .  Posted <%= time_ago_in_words(posts.created_at) %> ago.</p>
  </div>

  <div class="edit_btn">
    <% if current_user==posts.User %>
      <%= link_to "Edit", posts ,class: "btn btn-default" %>
      <%= link_to "Delete", posts, method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-default" %>
    <% end %>
    <%= link_to "Read Detail", posts, class: "btn btn-default" %>
  </div>
</div>
<hr>
<%# end %>
<% end %>
<% end %>
<%= will_paginate @post%>
<br><br>
