<p id="notice"><%= notice %></p>

<div class="">
  <%= hidden_field_tag :post, @post %>
  <div class="form-group", style>
    <%= image_tag @post.picture.url, width: 1000, height: 350 if @post.picture? %>
  </div>

  <div class="form-group">
    <h1><%= @post.title %></h1>
  </div>
  <br>
  <div class= "form-group" style="float: right">
    <p style="font-size: 15px "> Posted by <%= @post.User.name %></p>
  </div>
  <br><br>
  <div class="form-group">
    <p style="font-size: 15px "><%= simple_format(strip_tags(@post.detail))%></p>

  </div>
  <br><br>
  <div class="btn_edit_delete">
    <%= link_to "Edit", edit_post_path(@post) ,class: "btn btn-default" %>
    <%= link_to "Back", static_pages_index_path, class: "btn btn-default" %>
  </div>
</div>
